// COLORS
$color-white: #fff;
$color-black: #434343;
$color-black-2: #1d1d1d;
$color-black-3: #535353;

$color-gray-1: #f8f8f8;

$color-blue-1: #3477fa;
$color-purp-1: #a747fb;
$color-orange-1: #fa624e;

$color-gradient-1: #bf2ed1;
$color-gradient-2: #985ce4;
$color-gradient-3: #6e8bf8;

$color-pink: #ff00d6;
$color-purple-1: #c378f7;
$color-purple-2: #c378f6;

// PROFILE PIC
$color-gradient-4: #b467e9;
$color-gradient-5: #e967cc;

// BORDER RADIUS
$border-radius-1: 8px;
$border-radius-2: 10px;
