.hero {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;

    &__content {
        display: grid;
        grid-auto-rows: min-content;
        row-gap: 3rem;
    }

    &__img {
        display: block;
        object-fit: contain;
    }
}
