.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__profile {
        display: grid;
        grid-template-columns: min-content max-content;

        &-img {
            grid-row: 1 / span 1;

            display: block;
            width: 3.6rem;
            height: 3.6rem;
            background: linear-gradient(
                to top,
                $color-gradient-5,
                $color-gradient-4
            );
        }

        &-main {
            &-text {
            }

            &-subtext {
            }
        }
    }

    &__list {
    }

    &__buttons {
    }
}
