.tips {
    display: flex;
    align-items: center;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem 17rem 0 5rem;
    }

    &__row {
        display: grid;
        grid-template-columns: 8.4rem 1fr;
        grid-template-rows: 8.4rem;
        column-gap: 2rem;
        margin-bottom: 5rem;

        &--2 {
            margin-bottom: 3rem;
        }
    }

    &__number {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 4rem;
        font-weight: 700;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        margin-right: 2rem;

        &--blue {
            color: $color-blue-1;
            background-color: rgba($color-blue-1, 0.2);
        }

        &--purple {
            color: $color-purp-1;
            background-color: rgba($color-purp-1, 0.2);
        }

        &--orange {
            color: $color-orange-1;
            background-color: rgba($color-orange-1, 0.2);
        }
    }

    &__paragraph {
        max-width: 80%;
    }
}
