.tips {
    display: flex;
    align-items: center;

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__row {
        display: flex;
        margin-bottom: 2rem;
    }

    &__number {
        font-size: 4rem;
        font-weight: 700;
        width: 8.4rem;
        height: 8.4rem;
        border-radius: 50%;

        &--blue {
            color: $color-blue-1;
            background-color: rgba($color-blue-1, 0.2);
        }

        &--purple {
            color: $color-blue-1;
            background-color: rgba($color-blue-1, 0.2);
        }

        &--orange {
            color: $color-blue-1;
            background-color: rgba($color-blue-1, 0.2);
        }
    }
}
