.video {
    &__mention {
        display: grid;
        grid-template-columns: minmax(min-content, max-content) minmax(
                33rem,
                min-content
            );

        gap: 0 2rem;
    }

    &__img {
        &--1 {
            max-width: 100%;
            max-height: 3.7rem;
        }
    }
}
