.heading__primary {
    font-size: 4rem;
    font-weight: 900;
}

.tips__paragraph {
    font-size: 2rem;
    font-weight: 500;
    line-height: 30px;
}

.paragraph-regular {
    font-size: 1.6rem;
    font-weight: 500;
}

.fw-md {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.color-white {
    color: $color-white;
}

.color-black {
    color: $color-black;
}

.color-black-2 {
    color: $color-black-2;
}

.color-black-3 {
    color: $color-black-3;
}
