.mb-sm {
    margin-bottom: 2rem !important;
}
.mb-md {
    margin-bottom: 6rem !important;
}

.mb-hg {
    margin-bottom: 10rem !important;
}

.wrapper-d-fl-between {
    display: flex;
    justify-content: space-between;
}
